name: Node.js CI

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org
          cache: npm
      - run: npm ci
      - name: build client
        working-directory: ./client-react
        run: |
          npm ci
          npm run build
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.11.0
        with:
          mongodb-version: 8.0.0-rc18
      - name: Start Redis
        uses: supercharge/redis-github-action@1.8.0
        with:
          redis-version: 4
      - run: nohup bash -c "npm start 2>&1 &" && sleep 4
        env:
          TESTMODE: 1
          CLIENT_VERSION: react
      - run: npx cypress run
