#root {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container {
  display: flex;
  height: 100%;
  overflow: auto;
  }
  
  #wave-container {
    flex: 1 80%;
    display: flex;
}