.Header {
    height: 5em;
    overflow: hidden;
    color: #fff;
    background: #333333 linear-gradient(to top, #282828, #383838);
    z-index: 4;
    min-height: 0;
}

@media (max-width: 999px) {
    .Header {
        height: 2em;
    }
}

.Header h1 {
    display: none;
}

.Header-Logo {
    float: left;
    height: 100%;
    border: 0;
}
#usermenu {
    margin-top: 1.7em;
    float: right;
    margin-right: 0.7em;
}
#usermenu p {
    font-size: 0.8em;
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#usermenu img {
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-right: 0.2em;
    overflow: hidden;
}