.backgrid.table th.users {
    width: 20%;
}

.backgrid.table th.created_at, th._id, th.avatar {
    width: 10%;
}

.backgrid.table th.user {
    width: 20%;
}

.userview {
    clear: both;
}

.userview button {
    float: right;
}